<!DOCTYPE html>
<html lang="en">
<head>
    <meta charsets="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" hrefs="#"><B>Contact us</B></a> 
            </div>
        </div>
    </nav>
    <div class="container">
        
        <p>Address : Holz Strasse, Munich, Germany</P>
        <p>Phone : 0049 827775</P>
        </div>
    </body>
</html>